# Requires Python < 3.13 if not on nuvolos because SciPy wheels are not yet available for Python 3.13

# Core scientific stack
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1

# Machine Learning
scikit-learn==1.5.1
xgboost==2.0.3

# Data retrieval
yfinance==0.2.43

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Utilities
tqdm==4.66.4
pyyaml==6.0.2

# Optional 
jupyterlab==4.2.5